<form action="/admin/new" method="post">
    <h1>Admin Form</h1>
    
    <label for="password">Admin Password</label>
    <input type="text" name="password" id="password">

    <button type="submit">Submit</button>
</form>
