<form action="/admin/new" method="post">
    <h1>Admin Form</h1>
    
    <label for="password">Admin Password</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Submit</button>
</form>
