<form action="/member/join" method="post">
    <h1>Member Form</h1>

    <label for="password">Member Password</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Submit</button>
</form>
