<form action="/member/join" method="post">
    <h1>Member Form</h1>

    <label for="password">Member Password</label>
    <input type="text" name="password" id="password">

    <button type="submit">Submit</button>
</form>
